@import "thema.css";

body {
  background-color: var(--backgroud-sub-color);
  text-align: center;
  .main {
    color: var(--font-color);
    text-align: left;
    @media (max-width: 768px) {
      margin: auto;
      width: 100%;
    }
    @media (min-width: 768px) {
      margin: auto;
      max-width: 900px;
    }
  }
}
