@import "thema.css";
/* color and align */
.detail {
  .book_area {
    background-color: var(--backgroud-main-color);
    text-align: left;
    .book {
      background-position: top center;
      background-repeat: no-repeat;
      background-size: contain;
    }
    .book_description_area {
      color: var(--font-color);
      .name {
        font-size: 14px;
        font-weight: bold;
      }
      .line {
        font-size: 12px;
        margin-bottom: 10px;
        margin-left: 10px;
        text-align: left;
        .left {
          text-align: center;
        }
        .right {
          margin-left: 5px;
        }
        .tag {
          background-color: var(--backgroud-sub-color);
          font-size: 10px;
          padding: 2px;
        }
        .button {
          border: solid 1px;
          border-radius: 3px;
          color: var(--accent-color);
          margin: 5px;
          padding: 5px;
        }
      }
    }
  }
  /* button_area */
  .button_area {
    background-color: var(--backgroud-sub-color);
    text-align: center;
    .square-button {
      border: solid 1px var(--accent-color);
      border-radius: 5px;
      color: var(--font-color);
      float: left;
      font-size: 8px;
      height: 70px;
      margin: 0 15px 15px 15px;
      width: 70px;
      img {
        margin-top: 5px;
      }
      .label {
        margin-top: 5px;
      }
    }
  }
}

/* layout */
.detail {
  display: grid;
  .detail_responsive {
    @media (min-width: 768px) {
      display: grid;
      grid-template-columns: 450px 1fr;
    }
    .book_area {
      @media (min-width: 768px) {
        grid-column: 1;
      }
    }
    .button_area {
      @media (max-width: 768px) {
        margin-top: 15px;
      }
      @media (min-width: 768px) {
        grid-column: 2;
      }
    }
  }
  .book_area {
    display: grid;
    grid-template-columns: 90px 1fr;
    padding: 10px;
    .book {
      grid-column: 1;
      min-height: 150px;
    }
    .book_description_area {
      grid-column: 2;
      .tagline {
        display: grid;
        grid-template-columns: 35px 1fr;
        .left {
          grid-column: 1;
        }
        .right {
          grid-column: 2;
        }
        .button {
          float: left;
          min-width: 100px;
        }
      }
    }
    @media (max-width: 768px) {
      width: 100%;
    }
  }
}
